/* font styles */

.noto-serif-regular {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: normal;
}


.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Universal */

*{
    margin: 0;
    padding: 0;
}


/* Shared Style */

.title-des-fc{
    color: rgba(0, 0, 0, 0.5);
}

.all-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}

.theme-color{
    color: #E95A08;
}



/* nav bar */

nav{
    max-width: 1140px;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.nav-right ul li{
    list-style: none;
}


.nav-right ul{
    display: flex;
    gap: 48px;
}


/* banner style */

.banner{
    max-width: 1140px;
    margin: 120px auto 0;
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: flex-end;
}

.banner-heading{
    font-size: 4.0625rem;
    font-weight: bold;
    margin-bottom: 13px;
}

/* our plant section style */


main{
    max-width: 1140px;
    margin: 120px auto 0;
    border: 1px solid green;
}

.our-plant{
    text-align: center;
}

.plant-heading{
    font-size: 3.125rem;
    font-weight: bold;
}

.plant-des{
    width: 888px;
    margin: 16px auto 0;
}

/* cards section */

.cards{
    margin-top: 49px;
    display: grid;
    grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
    gap: 20px;
}

.card{
    text-align: center;
}

.card img{
    width: 100%;
}

.flower-name{
    font-size: 1.375rem;
    font-weight: 600;
    color: #111111;
    margin-top: 30px;
}

.flower-price{
    margin-top: 10px;
    margin-bottom: 30px;
}

.card button{
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 19px 0;
    width: 100%;
    font-weight: 600;
    border: none;
}

/* flower lover section */

.flower-lover{
    margin-top: 210px;
    display: grid;
    grid-template-columns: calc(50% - 30px) calc(50% - 30px);
    gap: 60px;
    align-items: center;
}

.flower-lover img{
    width: 100%;
}

.flower-lover-left{
    position: relative;
}

.flower-lover img:nth-child(1){
    position: absolute;
    width: 286px;
    top: -100px;
    right: -100px;
}

.flower-lover-right ul{
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

