/* font styles */

.noto-serif-regular {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: normal;
}


.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Universal */

*{
    margin: 0;
    padding: 0;
}


/* Shared Style */

.title-des-fc{
    color: rgba(0, 0, 0, 0.5);
}

.all-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}

.theme-color{
    color: #E95A08;
}



/* nav bar */

nav{
    max-width: 1140px;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.nav-right ul li{
    list-style: none;
}


.nav-right ul{
    display: flex;
    gap: 48px;
}


/* banner style */

.banner{
    max-width: 1140px;
    margin: 120px auto 0;
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: flex-end;
}

.banner-heading{
    font-size: 4.0625rem;
    font-weight: bold;
    margin-bottom: 13px;
}

.banner img{
    max-width: 100%;
}

/* our plant section style */


main{
    max-width: 1140px;
    margin: 120px auto 0;
}

.our-plant{
    text-align: center;
}

.plant-heading{
    font-size: 3.125rem;
    font-weight: bold;
}

.plant-des{
    max-width: 888px;
    margin: 16px auto 0;
}

/* cards section */

.cards{
    margin-top: 49px;
    display: grid;
    grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
    gap: 20px;
}

.card{
    text-align: center;
}

.card img{
    width: 100%;
}

.flower-name{
    font-size: 1.375rem;
    font-weight: 600;
    color: #111111;
    margin-top: 30px;
}

.flower-price{
    margin-top: 10px;
    margin-bottom: 30px;
}

.card button{
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 19px 0;
    width: 100%;
    font-weight: 600;
    border: none;
}

/* flower lover section */

.flower-lover{
    margin-top: 210px;
    margin-bottom: 133px;
    display: grid;
    grid-template-columns: calc(50% - 30px) calc(50% - 30px);
    gap: 60px;
    align-items: center;
}

.flower-lover img{
    width: 100%;
}

.flower-lover-left{
    position: relative;
}

.flower-lover img:nth-child(1){
    position: absolute;
    width: 286px;
    top: -100px;
    right: -100px;
}

.flower-lover-right ul{
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Latest deals top section and our plant section css is same */

.latest-de-head{
    margin-top: 133px;
}

/* latest-deals-banner section */

/* banner style */

.deals-banner {
    margin-top: 120px;
    display: grid;
    grid-template-columns: calc(33.333% - 14px) calc(66.667% - 14px);
    gap: 28px;
}

.deals-banner-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.deals-banner img {
    max-width: 100%;
    display: block;
    border-radius: 14px;
    filter: brightness(0.6);
    z-index: 1;
}

.deals-banner-right img {
    border-radius: 22px;
}


.deals-banner-left-top,
.deals-banner-left-bottom,
.deals-banner-right {
    position: relative;
}

.deals-banner-left-content,
.deals-banner-right-content {
    width: 100%;
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.deal-banner-shop-now a {
    color: #FFFFFF;
    text-decoration: none;
}

.bloom,
.ana,
.zabo {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.zabo {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.deals-banner-right-content span {
    font-size: 1.75rem;
}

.deal-banner-shop-now span {
    font-weight: 600;
    /* text-decoration: underline; problem underline 2 vhag a vhag hoye jay p theke (solid lagbe) */
    padding-bottom: 2px;
    border-bottom: 1px solid #FFFFFF;
}


/* footer banner start from here */

.footer-banner{
    max-width: 1440px;
    margin: 120px auto 0;
    position: relative;
}

.footer-banner img{
    max-width: 100%;
}

.footer-banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
}

.subscribe-button button {
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 19px 53.5px;
    font-weight: 600;
    border: none;
}


.footer-banner-heading{
    text-align: center;
    color: #FFFFFF;
    font-size: 3.125rem;
    font-weight: bold;
}

.subscribe-button{
    display: grid;
    grid-template-columns: 80% 20%;
    margin-top: 23px;
    /* width: 100%; */
}

.subscribe-button input{
    border: none;
    padding: 15.5px 20px;
}

.subscribe-button input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}


/* footer section */

.main-footer{
    max-width: 1120px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.footer-left-des{
    margin-top: 16px;
    max-width: 300px;
}


.main-footer-left-02 ul li,
.main-footer-right-02 ul li{
    list-style: none;
}

.main-footer-left-02 ul li a,
.main-footer-right-02 ul li a{
    text-decoration: none;
    color: #6B7280;
}

.main-footer-left-02 ul,
.main-footer-right-02 ul{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-footer-right{
    display: flex;
    gap: 24px;
}


.main-footer-right img{
    max-width: 36px;
    max-height: 36px;
}

